div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#ImagePostuplenieFonNiz2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerOsnova2
{
   background-color: transparent;
   background-image: none;
}
#ImagePostuplenieFonNiz
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePostuplenieFonVerh
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageLogoGU
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ShapeSsylka1
{
   width: 531px;
   height: 21px;
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#ShapeSsylka1_text
{
   position: absolute;
   left: 1px;
   top: 4px;
   width: 529px;
   height: 16px;
   overflow: hidden;
   text-align: center;
}
#ShapeSsylka2
{
   width: 798px;
   height: 21px;
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#ShapeSsylka2_text
{
   position: absolute;
   left: 1px;
   top: 4px;
   width: 796px;
   height: 16px;
   overflow: hidden;
   text-align: center;
}
#ShapeSsylka3
{
   width: 331px;
   height: 21px;
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#ShapeSsylka3_text
{
   position: absolute;
   left: 1px;
   top: 4px;
   width: 329px;
   height: 16px;
   overflow: hidden;
   text-align: center;
}
#PostupiMenu_1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ShapePostupiMenu_1
{
   width: 234px;
   height: 27px;
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#ShapePostupiMenu_1_text
{
   position: absolute;
   left: 1px;
   top: 7px;
   width: 232px;
   height: 19px;
   overflow: hidden;
   text-align: center;
}
#PostupiMenu_2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ShapePostupiMenu_2
{
   width: 234px;
   height: 27px;
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#ShapePostupiMenu_2_text
{
   position: absolute;
   left: 1px;
   top: 7px;
   width: 232px;
   height: 19px;
   overflow: hidden;
   text-align: center;
}
#PostupiMenu_3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ShapePostupiMenu_3
{
   width: 234px;
   height: 27px;
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#ShapePostupiMenu_3_text
{
   position: absolute;
   left: 1px;
   top: 7px;
   width: 232px;
   height: 19px;
   overflow: hidden;
   text-align: center;
}
#PostupiMenu_0
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ShapePostupiMenu_0
{
   width: 234px;
   height: 27px;
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#ShapePostupiMenu_0_text
{
   position: absolute;
   left: 1px;
   top: 7px;
   width: 232px;
   height: 19px;
   overflow: hidden;
   text-align: center;
}
#LayerKartaObvodka
{
   background-color: transparent;
   background-image: none;
   border: 10px solid #00BFFF;
   border-radius: 5px;
}
