div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#LayerOsnovaZavedenie
{
   background-color: transparent;
   background-image: none;
}
#ImageZavedenieFonNiz
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageZavedenieFonVerh
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerZavedenieMenu_0
{
   background-color: transparent;
   background-image: none;
}
#LayerZavedenieMenu_1
{
   background-color: transparent;
   background-image: none;
}
#LayerZavedenieMenu_2
{
   background-color: transparent;
   background-image: none;
}
#LayerZavedenieMenu_3
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka1
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka2
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka3
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka4
{
   background-color: transparent;
   background-image: none;
}
#Line2
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#LayerSsylka5
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka6
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka7
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka9
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka10
{
   background-color: transparent;
   background-image: none;
}
#Line1
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line3
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line4
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line5
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line6
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line7
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line9
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line10
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line15
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
.ToolTip1
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip2
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip3
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip4
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip5
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip6
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip7
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip8
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip9
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip10
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip11
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip12
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip13
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip14
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip15
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
#LayerSsylka12
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka13
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka14
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka15
{
   background-color: transparent;
   background-image: none;
}
#Line12
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line13
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
.ToolTip16
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
#Line14
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#LayerSsylka16
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka17
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka18
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka19
{
   background-color: transparent;
   background-image: none;
}
.ToolTip17
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip18
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip19
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
#LayerSsylka20
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka21
{
   background-color: transparent;
   background-image: none;
}
#Line16
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
.ToolTip20
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip21
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip22
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
#LayerSsylka22
{
   background-color: transparent;
   background-image: none;
}
