div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#LayerOsnovaZavedenie
{
   background-color: transparent;
   background-image: none;
}
#ImageZavedenieDizaynFonNiz
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageZavedenieInzhenerFonVerh
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerZavedenieMenu_0
{
   background-color: transparent;
   background-image: none;
}
#LayerZavedenieMenu_1
{
   background-color: transparent;
   background-image: none;
}
#LayerZavedenieMenu_2
{
   background-color: transparent;
   background-image: none;
}
#LayerZavedenieMenu_3
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka1
{
   background-color: transparent;
   background-image: none;
}
#Line1
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
.ToolTip1
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
#LayerZavedenieMenu_4
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka5
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka6
{
   background-color: transparent;
   background-image: none;
}
#Line2
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
.ToolTip3
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
#LayerSsylka2
{
   background-color: transparent;
   background-image: none;
}
#Line3
{
   border-color: #D2691E;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#LayerSsylka3
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka4
{
   background-color: transparent;
   background-image: none;
}
.ToolTip4
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip5
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip6
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
.ToolTip7
{
   background-image: none;
   background-color: #7ED15B;
   border: 0px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: center;
}
