.mouse-parallax {
    height: 500px;
    position: relative;
    overflow: hidden;
}
.mouse-parallax-bg,
.mouse-parallax-fog-1,
.mouse-parallax-fog-2 {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
    background-image: url("images/1.jpg");
}
.mouse-parallax-fog-1 {
    background-image: url("images/2.png");    
    left: -10%;
}
.mouse-parallax-fog-2 {
    background-image: url("images/3.png");    
}